/*the styles are here */
body{
    font-family: sans-serif;
}
ul{
    float: right;
    list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li a{
    padding: 5px 20px;
    text-decoration: none;
    color: #8845f4;
    border: 1px solid;
}
ul li a:hover {
    background-color: white;
    color: #000;
}
h1{
    color: #8845f4;
    transform: translate(40%,60%);
}
.pet li{
    list-style-type: none;
}
.web{
    color: indigo;
}